# First, ignore everything
*
!.gitignore
!merge-with-upstream.md
!build/
!build/*
!/examples
!/examples/js
!/examples/js/**/*
!/examples/jsm
!/examples/jsm/**/*
!/examples/fonts/**/*
!/examples/fonts
!/src/**/*
!/src
!LICENSE
!package.json
!README.md

.DS_Store
*.DS_Store
/**/.DS_Store
